<template>
  <Layout>
    <div class="content">
      <Installer/>
    </div>
  </Layout>
</template>

<script>
import Installer from "~/components/devices/Installer.vue";

export default {
  metaInfo: {
    title: "UBports Installer",
    meta: [
      {
        name: "keywords",
        content:
          "Ubuntu Touch, mobile, Linux, Android, privacy, smartphone, installer"
      },
      {
        name: "description",
        content:
          "A friendly cross-platform Installer for Ubuntu Touch. Just connect a supported device to your PC, follow the on-screen instructions, and watch this awesome tool do all the rest!"
      },
      {
        property: "og:title",
        content: "UBports Installer • Ubuntu Touch • Linux Phone"
      }
    ]
  },
  components: {
    Installer
  }
};
</script>
