<template>
  <!-- Built With -->
  <div
    class="built-with"
    :class="portClass"
  >
    <h3 class="h3">Port a device!</h3>
    <p>{{ this.$static.allDevice.totalCount }} devices run Ubuntu Touch. Do you wish that yours becomes one of them? <a class="link" href="https://docs.ubports.com/porting/" target="_blank" rel="noreferrer noopener">Learn how to port your device.</a></p>
  </div>
</template>

<static-query>
query {
  allDevice {
    totalCount
  }
}
</static-query>

<script>
export default {
  name: "NewPort",
  props: {
    mobile: Boolean
  },
  data: function() {
    return {
      portClass: {
        "d-none": !this.mobile,
        "d-lg-block": !this.mobile,
        "d-lg-none": this.mobile
      }
    };
  }
};
</script>
