<template>
  <!-- Features -->
  <div class="feature-map">
    <h2>What works</h2>
    <div class="features">
      <ul v-for="featureCategory in $page.device.portStatus" :key="featureCategory.categoryName">
        <li>
          <p class="bold">{{ featureCategory.categoryName }}:</p>
        </li>
        <li v-for="feature in featureCategory.features" :key="feature.id">
          <span v-if="feature.value === '+'" class="green-icon">✔️ </span>
          <span v-else>❌ </span>

          <a
            v-if="feature.bugTracker"
            :href="feature.bugTracker"
            :style="{ color: (feature.value == '-') ? '#555' : 'inherit' }"
            target="_blank"
            rel="noreferrer noopener">
            {{ $static.portInfo.data.find(el => el.id == feature.id && el.category == featureCategory.categoryName).name }}
          </a>
          <span v-else :style="{ color: (feature.value == '-') ? '#555' : 'inherit' }">
            {{ $static.portInfo.data.find(el => el.id == feature.id && el.category == featureCategory.categoryName).name }}
          </span>
        </li>
      </ul>
    </div>
    <p class="feature-legend">
      <span class="feature-legend-element"><span class="green-icon">✔️</span> Working feature</span>
      <span class="feature-legend-element">❌ Not working ( Issue report provided )</span>
    </p>
  </div>
</template>

<static-query>
query {
  portInfo (id: "portStatusData") {
    data {id category name}
  }
}
</static-query>

<script>
export default {
  name: "PortStatus"
};
</script>
